docker-compose.yml

.persistency
.idea

www/env/Dockerfile
admin/env/Dockerfile

admin/.env
admin/vendor
admin/var
admin/bin/.phpunit
admin/phpunit.xml
admin/public/uploads
admin/spa/node_modules
*.dump
