docker-compose.yml

.persistency
.idea

admin/.env
admin/vendor
admin/var
admin/bin/.phpunit
admin/phpunit.xml
admin/public/uploads
admin/spa/node_modules
admin/public/js/dist/*.map
admin/env/php/opcache.dev.ini
