version: '3'

services:

  proxy:
    image: jwilder/nginx-proxy:alpine
    restart: unless-stopped
    ports:
      - '80:80'
      - '443:443'
    networks:
      - backend
    volumes:
      - conf:/etc/nginx/conf.d
      - vhost:/etc/nginx/vhost.d
      - html:/usr/share/nginx/html
      - dhparam:/etc/nginx/dhparam
      - certs:/etc/nginx/certs:ro
      - /var/run/docker.sock:/tmp/docker.sock:ro

  letsencrypt:
    image: jrcs/letsencrypt-nginx-proxy-companion
    volumes:
      - certs:/etc/nginx/certs:rw
      - /var/run/docker.sock:/var/run/docker.sock:ro

  admin:
    build: ./admin/env
    restart: unless-stopped
    environment:
      - VIRTUAL_HOST=admin.mobilerecycling.kz
      - LETSENCRYPT_HOST=admin.mobilerecycling.kz
    depends_on:
      - db
    networks:
      - backend
    volumes:
      - './admin:/var/www/html'

  www:
    build: ./www/env
    restart: unless-stopped
    environment:
      - VIRTUAL_HOST=mobilerecycling.kz,www.mobilerecycling.kz
      - LETSENCRYPT_HOST=mobilerecycling.kz,www.mobilerecycling.kz
    networks:
      - backend
    volumes:
      - './www:/usr/share/nginx/html'

  db:
    image: postgres:10-alpine
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=~
      - POSTGRES_DB=mrs
    networks:
      - backend
    volumes:
      - '.:/var/www/html'
      - '.persistency/postgres/data:/var/lib/postgresql/data'
      - '.persistency/postgres/logs:/var/log/postgresql'
      - '.persistency/postgres/tmp:/tmp'

networks:
  backend:
    driver: "bridge"
    
volumes:
  conf:
  vhost:
  html:
  dhparam:
  certs:
