{% extends 'emails/base.html.twig' %}

{% block title %}{{ 'email.reset_password.title'|trans }}{% endblock %}

{% block body %}
    <div style="margin-bottom: 20px">
        {{ 'email.partner_approved.content'|trans|raw }}
    </div>
{% endblock %}

{% block action %}
    <table border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
        <tbody>
        <tr>
            <td align="center">
                <table border="0" cellpadding="0" cellspacing="0">
                    <tbody>
                    <tr>
                        <td align="center">
                            <a href="{{ project_host ~ path('login') }}">{{ 'email.partner_approved.action'|trans }}</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}